.decor {
  padding: 170px 0 155px;
  background-image: url("../images/decor-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &__title {
    max-width: 730px;
    color: $title-color;
    font-size: 60px;
    line-height: 80px;
    padding-bottom: 22px;
    margin-bottom: 22px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 200px;
      background: #6d7278;
    }
  }
  &__text {
    max-width: 540px;
  }
}
