.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
  }
  &__btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}

.logo {
  margin: 0 auto;
}

.menu {
  padding-right: 15px;
  &__list {
    display: flex;
  }
  &__list-item {
    padding-right: 45px;
    padding-left: 80px;
  }
  &__list-link {
    color: rgba(54, 56, 56, 0.9);
    @extend %title-font;
    line-height: 22px;
  }
}
